# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [61]:
import pandas as pd
df = pd.read_csv('Emisiones_CO2.csv', delimiter = '|', decimal=',', encoding='latin-1')
df = df.dropna()
df.columns
#df.ndim
#df.shape
#df.head()
#df.info()

Index(['Código de país', 'Nombre del país', 'Región', 'Año', 'CO2 (kt)',
       'CO2 per cápita (toneladas métricas)'],
      dtype='object')

In [47]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [48]:
df['Clave_Hash'] = [hash_function(dato) for dato in df['Código de país']]
#df.head()

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [60]:
res = df.drop_duplicates(['Clave_Hash','Código de país','Nombre del país','Región'])[['Año', 'CO2 (kt)', 'CO2 per cápita (toneladas métricas)','Clave_Hash']]
res.head()

      Año  CO2 (kt)  CO2 per cápita (toneladas métricas)  Clave_Hash
26   1986   179,683                             2.868319         910
87   1995   407,037                             6.374495         870
104  1960   414,371                             0.046068         858
156  1960    550,05                             0.104357         893
208  1960  2.024,18                             1.258195         856

In [55]:
res.shape

(199, 4)